@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:wght@300;400&family=Montserrat:wght@300;400&display=swap');

:root {
    --default-font: 'Montserrat', sans-serif;
    --title-font: 'Amatic SC', sans-serif;
    --menu-font: 'Amatic SC', sans-serif;

    --color1: #e2d43f;
    --color2: #E9D3E7;
    --color3: #7D4A9E;
    --color4: #351546;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--default-font);
    font-weight: 300;
    color: white;
}

body {
    padding: 0 40px;

    background-color: var(--color4);
}

header {
    width: 100%;
    max-width: 1200px;
    
    margin: auto;
    padding-top: 5px;
    top: 0;
    position: sticky;

    background-color: var(--color4);
}

.header-content {
    display: flex;
    align-items: center;
    flex-basis: 80px;
}

.header-content a {
    flex-grow: 1;
}

.header-content nav {
    display: flex;
    flex-direction: row;
    align-content: left;
    flex-grow: 10;
}

#header-line {
    width: 100%;
    height: 1px;

    margin-top: 10px;
    background-color: var(--color1);
}

header nav {
    display: flex;
    justify-content: right;
}

nav a {
    text-decoration: none;
    font-family: var(--menu-font);
    font-size: 1.7em;
}

nav a:hover {
    color: var(--color1);
}